indir: no  # to be overriden in CLI
outdir: no  # to be overriden in CLI

model:
  path: no  # to be overriden in CLI
  checkpoint: best.ckpt

dataset:
  kind: default
  img_suffix: .png
  pad_out_to_modulo: 8

device: cuda
out_key: inpainted

refine: True # refiner will only run if this is True
# refiner:
#   gpu_ids: "0" # the GPU ids of the machine to use. If only single GPU, use: "0,"
#   modulo: ${dataset.pad_out_to_modulo}
#   n_iters: 15 # number of iterations of refinement for each scale
#   lr: 0.002 # learning rate
#   min_side: 512 # all sides of image on all scales should be >= min_side / sqrt(2)
#   max_scales: 3 # max number of downscaling scales for the image-mask pyramid
#   px_budget: 1800000 # pixels budget. Any image will be resized to satisfy height*width <= px_budget
#   ablation_mode: "R5" # "R0" - "R4"
#   lambda_edge: 1.0 # R1 1.0
#   lambda_perc: 0.0 # R2 0.1

refiner:
  gpu_ids: "0"
  modulo: ${dataset.pad_out_to_modulo}
  n_iters: 15    # 像素优化步数，先试 5~15
  lr: 0.01       
  min_side: 512  
  max_scales: 1
  px_budget: 268435456

  lambda_data: 1.0
  lambda_tv: 0.1
  lambda_edge: 1.0